body {
    background-color: pink;

}

h1 {
    font-size: 60px;
    font-style: italic;
    font-family: fantasy;
}

fieldset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button {
    border: 2ch;
    border-color: blue;
    border-radius: 3cap;
    
}