<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5, Responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Find Your Dream Waifu</title>
    <meta name="description" content="Find Waifu" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <h1>Welcome to Find Your Dream Waifu! </h1>
  <div>Never be Lonely Again</div>
    <form action="/submit-preference" method="post" id="preference">
        <fieldset>
            <label><b>Name:</b>&nbsp<input type="text" name="name"></label>
            <label><b>Email Address:</b>&nbsp<input type="email" name="email"></label>
            <br> <br>
        

        <label for="tag">Pick your type:</label><br>
      <select name="tag" id="tag">
        <option value="maid">Maid</option>
        <option value="waifu">Waifu</option>
        <option value="marin-kitagawa">Marin Kitagawa</option>
        <option value="mori-calliope">Mori Calliope</option>
        <option value="raiden-shogun">Raiden Shogun</option>
        <option value="oppai">Oppai</option>
        <option value="selfies">Selfies</option>
        <option value="uniform">Uniform</option>
        <option value="kamisato-ayaka">Kamisato Ayaka</option>
      </select><br>
        <br>
        <button type="reset">Reset</button>
        <button type="submit">Help Me Find Waifu <3333</button>
      </fieldset>
    </form>

    <br><br><br>
    <div><em>To see your saved Waifus<a href="/saveWai">Saved Waifus</a></em></div>
  </body>
</html>

