<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5, Responsive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Save Waifu</title>

    <div>View your Waifu collection using your Name and Email</div>
    <fieldset>
      <form action="/waifu-search" method="post" id="saved">
            <label><b>Name:</b>&nbsp<input type="text" name="name"></label>
            <label><b>Email Address:</b>&nbsp<input type="email" name="email"></label><br><br>
            <button type="submit">Show me all my Waifus!!!</button>
            <br> <br>
    </fieldset>
    <a href="/">go back</a>

</head>
</html>