<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="html5, responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Beloved Waifu</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
   </head>
   <body>
    <h1>Your Beloved Waifu</h1>
    
    <form action="/submit-preference" method="POST">
      <h2>Choose your preferences for a waifu:</h2>
      
      <label for="tag">Versatile Tags:</label><br>
      <select name="tag" id="tag">
        <option value="maid">Maid</option>
        <option value="waifu">Waifu</option>
        <option value="marin-kitagawa">Marin Kitagawa</option>
        <option value="mori-calliope">Mori Calliope</option>
        <option value="raiden-shogun">Raiden Shogun</option>
        <option value="oppai">Oppai</option>
        <option value="selfies">Selfies</option>
        <option value="uniform">Uniform</option>
        <option value="kamisato-ayaka">Kamisato Ayaka</option>
      </select><br>
  
      <button type="submit">Find Your Waifu</button>
    </form>
  </body>
</html>


